Bulk visitor upload/flows.json
[{"id":"c214dc84bbca6e11","type":"tab","label":"Bulk Visit","disabled":false,"info":"","env":[]},{"id":"e9e27c4d305e08d9","type":"group","z":"c214dc84bbca6e11","name":"Bulk Visit","style":{"label":true},"nodes":["68ab292b97c8a1c8","5e752cbe3572f0b8","c671667607bb3ae7","3a1c9b5d6837efb3","8f52eec0195c5a9e","83c35c8b5698ca59","2867fd86303e9bda","8ab2bde1556afab3","c515f9112a244ea0","2942c103f5abc9b2","e976c223f6ce872d","b6fd8d8f413117e3","026187bc5a7d6af3","47eb4d64a333e862","bf1249383138ca9d","ca60fce5e8ce7a2e","51f75dce5ec21e8f","8a520ed70e7de417","542b86108b94cdec","b6e45f43aa30173a","c83f9733fa32b678","cef4bb1b5dd30d6f","cbe3f6670fa12a7b","dd3b570491cdbf2e"],"x":34,"y":79,"w":1032,"h":542},{"id":"68ab292b97c8a1c8","type":"http in","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"GET /bulk-visitor","url":"/bulk-visitor","method":"get","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["c671667607bb3ae7"]]},{"id":"5e752cbe3572f0b8","type":"http response","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"","statusCode":"200","headers":{},"x":840,"y":120,"wires":[]},{"id":"c671667607bb3ae7","type":"2nac-rest-api","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"getCompanies","method":"GET","endpoint":"companies","query":"","senderr":true,"x":340,"y":120,"wires":[["2942c103f5abc9b2"]]},{"id":"3a1c9b5d6837efb3","type":"http in","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"POST /bulk-visitor","url":"/bulk-visitor","method":"post","upload":true,"swaggerDoc":"","x":150,"y":220,"wires":[["e976c223f6ce872d"]]},{"id":"8f52eec0195c5a9e","type":"function","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"create visitor","func":"\nmsg.body = { \"Name\": msg.user.Name, \"Company\": { \"Id\": msg.company }, \"Groups\": [{\"Id\":msg.payload.ResultsGuid[0].Id}], \"Email\": msg.user.Email, \"VisitFrom\": msg.user[\"Visited From\"], \"VisitTo\": msg.user[\"Visited To\"]}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":340,"wires":[["83c35c8b5698ca59"]]},{"id":"83c35c8b5698ca59","type":"2nac-rest-api","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"CreateVisitor","method":"POST","endpoint":"visitors","query":"","senderr":true,"x":870,"y":340,"wires":[["542b86108b94cdec"]]},{"id":"2867fd86303e9bda","type":"2nac-rest-api","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"createQRcode","method":"POST","endpoint":"visitors/{visitorId}/qrcode","query":"","senderr":true,"x":460,"y":480,"wires":[["51f75dce5ec21e8f","cef4bb1b5dd30d6f"]]},{"id":"8ab2bde1556afab3","type":"catch","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"","scope":["b6fd8d8f413117e3"],"uncaught":false,"x":110,"y":580,"wires":[["c515f9112a244ea0"]]},{"id":"c515f9112a244ea0","type":"http response","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"","statusCode":"400","headers":{},"x":300,"y":580,"wires":[]},{"id":"2942c103f5abc9b2","type":"template","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Visitor Kiosk</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, viewport-fit=cover\" />\n\n  <meta name=\"theme-color\" media=\"(prefers-color-scheme: light)\" content=\"rgb(61, 105, 244)\">\n  <meta name=\"theme-color\" media=\"(prefers-color-scheme: dark)\" content=\"rgb(130, 177, 255)\">\n  <link href=\"https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap\" rel=\"stylesheet\">\n  <style>\n    :root {\n      --md-primary: rgb(61, 105, 244);\n      --md-primary-hover: rgb(26, 72, 188);\n      --md-on-primary: #FFFFFF;\n      --md-surface: #FFFBFE;\n      --md-surface-container: rgb(246, 246, 251);\n      --md-outline: rgb(100, 116, 157);\n      --md-error: #B3261E;\n      --md-success: #197a50;\n      --main-grey: rgba(0, 0, 0, 0.38);\n\n      /* Text colors for light mode */\n      --md-text: #1C1B1F;\n      --md-text-secondary: #49454F;\n      --md-input-text: #1C1B1F;\n      --md-label-text: rgba(0, 0, 0, 0.6);\n\n      /* Notification backgrounds for light mode */\n      --notif-success-bg: #d4f8e8;\n      --notif-error-bg: #ffd6d6;\n\n      color-scheme: light;\n    }\n\n    @media (prefers-color-scheme: dark) {\n      :root {\n        --md-primary: rgb(130, 177, 255);\n        --md-primary-hover: rgb(80, 120, 210);\n        --md-on-primary: #1C1B1F;\n        --md-surface: #181A20;\n        --md-surface-container: #23252C;\n        --md-outline: rgb(130, 140, 180);\n        --md-error: #FFB4A9;\n        --md-success: #4ADE80;\n        --main-grey: rgba(255, 255, 255, 0.24);\n\n        /* Text colors for dark mode */\n        --md-text: #fff;\n        --md-text-secondary: #bcbcbc;\n        --md-input-text: #fff;\n        --md-label-text: rgba(255, 255, 255, 0.7);\n\n        /* Notification backgrounds for dark mode */\n        --notif-success-bg: #163d2a;\n        --notif-error-bg: #4a2323;\n\n        color-scheme: light dark;\n      }\n    }\n\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n      font-family: 'Roboto', sans-serif;\n    }\n\n    html,\n    body {\n      height: 100%;\n    }\n\n    body {\n      background-color: var(--md-surface-container);\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      color: var(--md-text);\n    }\n\n    .container {\n      width: 100%;\n      max-width: 750px;\n      padding: 20px;\n    }\n\n    .card {\n      background-color: var(--md-surface);\n      border-radius: 28px;\n      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n      overflow: hidden;\n    }\n\n    .card-content {\n      padding: 32px;\n    }\n\n    .brand {\n      display: flex;\n      justify-content: center;\n      margin-bottom: 24px;\n    }\n\n    .brand svg {\n      width: 48px;\n      height: 48px;\n      fill: var(--md-primary);\n    }\n\n    .title {\n      text-align: center;\n      font-size: 2rem;\n      font-weight: 500;\n      color: var(--md-text);\n      margin-bottom: 8px;\n    }\n\n    .subtitle {\n      text-align: center;\n      color: var(--md-text-secondary);\n      margin-bottom: 32px;\n    }\n\n    form {\n      display: flex;\n      flex-direction: column;\n      gap: 24px;\n    }\n\n    .form-group {\n      width: 100%;\n    }\n\n    .outlined-input {\n      position: relative;\n      width: 100%;\n    }\n\n    .outlined-input input,\n    .outlined-input select {\n      width: 100%;\n      color: var(--md-input-text);\n      height: 56px;\n      outline: 1px solid var(--main-grey);\n      border-radius: 5px;\n      border: none;\n      background-color: var(--md-surface);\n      padding: 0 20px;\n      font-size: 16px;\n      transition: outline-color 0.1s ease-in-out;\n    }\n\n    .outlined-input select {\n      cursor: pointer;\n      appearance: none;\n      background-image: url(\"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e\");\n      background-position: right 12px center;\n      background-repeat: no-repeat;\n      background-size: 16px;\n    }\n\n    .outlined-input label {\n      position: absolute;\n      top: 50%;\n      left: 20px;\n      transform: translateY(-50%);\n      background-color: var(--md-surface);\n      color: var(--md-label-text);\n      padding: 0 5px;\n      transition: all 0.2s ease-in-out;\n      font-size: 1rem;\n      pointer-events: none;\n      white-space: nowrap;\n    }\n\n    .outlined-input input[data-has-content]~label,\n    .outlined-input input:not(:placeholder-shown)~label,\n    .outlined-input input:focus~label,\n    .outlined-input select:not([value=\"\"])~label,\n    .outlined-input select:focus~label {\n      top: 0;\n      left: 15px;\n      font-size: 0.75rem;\n      transform: translateY(-50%);\n    }\n\n    .outlined-input input:hover,\n    .outlined-input select:hover {\n      outline-color: var(--md-text);\n    }\n\n    .outlined-input input:focus,\n    .outlined-input select:focus {\n      outline: 2px solid var(--md-primary)\n    }\n\n    .outlined-input input:focus~label,\n    .outlined-input select:focus~label {\n      color: var(--md-primary);\n    }\n\n    .outlined-input input:disabled,\n    .outlined-input select:disabled {\n      background-color: rgba(0, 0, 0, 0.05);\n      outline-color: rgba(0, 0, 0, 0.12);\n      color: rgba(0, 0, 0, 0.38);\n      cursor: not-allowed;\n    }\n\n    .outlined-input input:disabled~label,\n    .outlined-input select:disabled~label {\n      color: rgba(0, 0, 0, 0.38);\n      background-color: transparent;\n    }\n\n    /* File input styling */\n    .outlined-input input[type=\"file\"] {\n      padding: 12px 20px;\n      cursor: pointer;\n    }\n\n    .outlined-input input[type=\"file\"]::-webkit-file-upload-button {\n      visibility: hidden;\n      width: 0;\n      height: 0;\n    }\n\n    .file-input-wrapper {\n      position: relative;\n    }\n\n    .file-name-display {\n      margin-top: 8px;\n      font-size: 0.875rem;\n      color: var(--md-text-secondary);\n      padding-left: 20px;\n      min-height: 20px;\n    }\n\n    .csv-info {\n      margin-top: -8px;\n    }\n\n    .csv-info-text {\n      font-size: 0.875rem;\n      color: var(--md-text-secondary);\n      text-align: center;\n      line-height: 1.5;\n    }\n\n    /* Dropdown suggestions styling */\n    .search-dropdown {\n      position: absolute;\n      top: 100%;\n      left: 0;\n      right: 0;\n      background-color: var(--md-surface);\n      border: 1px solid var(--md-outline);\n      border-radius: 5px;\n      max-height: 200px;\n      overflow-y: auto;\n      z-index: 1000;\n      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n      display: none;\n    }\n\n    .search-dropdown.show {\n      display: block;\n    }\n\n    .dropdown-item {\n      padding: 12px 16px;\n      cursor: pointer;\n      border-bottom: 1px solid var(--md-outline);\n      transition: background-color 0.2s;\n    }\n\n    .dropdown-item:last-child {\n      border-bottom: none;\n    }\n\n    .dropdown-item:hover {\n      background-color: var(--md-surface-container);\n    }\n\n    .dropdown-item.selected {\n      background-color: var(--md-primary);\n      color: var(--md-on-primary);\n    }\n\n    @media (prefers-color-scheme: dark) {\n\n      .outlined-input input:disabled,\n      .outlined-input select:disabled {\n        background-color: rgba(255, 255, 255, 0.05);\n        outline-color: rgba(255, 255, 255, 0.12);\n        color: rgba(255, 255, 255, 0.38);\n      }\n\n      .outlined-input input:disabled~label,\n      .outlined-input select:disabled~label {\n        color: rgba(255, 255, 255, 0.38);\n        background-color: transparent;\n      }\n\n      .outlined-input select {\n        background-image: url(\"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%9ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e\");\n      }\n    }\n\n    .button-container {\n      display: flex;\n      flex-direction: column;\n      gap: 16px;\n      margin-top: 8px;\n      align-items: stretch;\n    }\n\n    .button {\n      width: 100%;\n      padding: 16px;\n      color: var(--md-on-primary);\n      border: none;\n      border-radius: 100px;\n      font-size: 16px;\n      font-weight: 500;\n      cursor: pointer;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      background-color: var(--md-primary);\n      transition: background-color 0.2s;\n      text-align: center;\n      min-height: 40px;\n      line-height: normal;\n    }\n\n    .button:hover:not(:disabled) {\n      background-color: var(--md-primary-hover);\n    }\n\n    .button:disabled {\n      background-color: rgba(0, 0, 0, 0.12);\n      color: rgba(0, 0, 0, 0.38);\n      cursor: not-allowed;\n    }\n\n    @media (prefers-color-scheme: dark) {\n      .button:disabled {\n        background-color: rgba(255, 255, 255, 0.12);\n        color: rgba(255, 255, 255, 0.38);\n      }\n    }\n\n    .notification {\n      margin-top: 1.2rem;\n      padding: 1rem 1.2rem;\n      border-radius: 8px;\n      font-weight: 500;\n      font-size: 1rem;\n      display: none;\n      border: 1px solid transparent;\n      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);\n      text-align: center;\n      opacity: 0;\n      transform: translateY(-10px);\n      transition: all 0.3s ease-in-out;\n    }\n\n    .notification.show {\n      display: block;\n      opacity: 1;\n      transform: translateY(0);\n    }\n\n    .notification.fade-out {\n      opacity: 0;\n      transform: translateY(-10px);\n    }\n\n    .notification.success {\n      background: var(--notif-success-bg);\n      color: var(--md-success);\n      border-color: var(--md-success);\n    }\n\n    .notification.error {\n      background: var(--notif-error-bg);\n      color: var(--md-error);\n      border-color: var(--md-error);\n    }\n\n    /* Language selector */\n    .top-actions {\n      display: flex;\n      justify-content: flex-end;\n      align-items: center;\n      margin-bottom: 24px;\n    }\n\n    .language-selector-link {\n      display: inline-flex;\n      align-items: center;\n      text-decoration: none;\n      font-size: 0.875rem;\n      font-weight: 500;\n      padding: 8px 12px;\n      border-radius: 20px;\n      background: none;\n      border: none;\n      font-family: 'Roboto', sans-serif;\n    }\n\n    .language-selector-link select {\n      background: none;\n      border: none;\n      color: var(--md-primary);\n      font-size: 0.875rem;\n      font-weight: 500;\n      font-family: 'Roboto', sans-serif;\n      cursor: pointer;\n      padding: 4px 8px;\n      margin: 0;\n      appearance: none;\n      outline: none;\n      border-radius: 8px;\n      transition: background-color 0.2s;\n      min-width: 100px;\n      text-align: center;\n      text-align-last: center;\n    }\n\n    .language-selector-link select:hover {\n      background-color: var(--md-surface-container);\n    }\n\n    .language-selector-link select:focus {\n      background-color: var(--md-surface-container);\n    }\n\n    .language-selector-link select option {\n      background: var(--md-surface);\n      color: var(--md-text);\n      padding: 12px 16px;\n      font-size: 0.875rem;\n      font-weight: 500;\n      min-height: 44px;\n      display: flex;\n      align-items: center;\n    }\n\n    .language-selector-link select option:hover {\n      background-color: var(--md-primary);\n      color: var(--md-on-primary);\n    }\n\n    .language-selector-link select option:checked {\n      background-color: var(--md-primary);\n      color: var(--md-on-primary);\n      font-weight: 600;\n    }\n\n    /* Download sample link style */\n    .download-sample-link {\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      gap: 8px;\n      color: var(--md-primary);\n      text-decoration: none;\n      font-size: 0.875rem;\n      font-weight: 500;\n      padding: 8px 16px;\n      border-radius: 20px;\n      transition: background-color 0.2s;\n      cursor: pointer;\n      background: none;\n      border: none;\n      width: auto;\n      margin: 0 auto;\n    }\n\n    .download-sample-link:hover {\n      background-color: var(--md-surface-container);\n    }\n\n    .download-sample-link svg {\n      width: 18px;\n      height: 18px;\n      fill: var(--md-primary);\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"container\">\n    <div class=\"card\">\n      <div class=\"card-content\">\n        <div class=\"top-actions\">\n          <button class=\"language-selector-link\" id=\"languageSelectWrapper\">\n            <select id=\"languageSelect\">\n              <option value=\"en\">English</option>\n              <option value=\"de\">Deutsch</option>\n              <option value=\"fr\">Français</option>\n              <option value=\"es\">Español</option>\n              <option value=\"it\">Italiano</option>\n              <option value=\"cs\">Čeština</option>\n              <option value=\"nl\">Nederlands</option>\n            </select>\n          </button>\n        </div>\n        <div class=\"brand\">\n          <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\">\n            <path\n              d=\"M160-80q-33 0-56.5-23.5T80-160v-440q0-33 23.5-56.5T160-680h200v-120q0-33 23.5-56.5T440-880h80q33 0 56.5 23.5T600-800v120h200q33 0 56.5 23.5T880-600v440q0 33-23.5 56.5T800-80H160Zm0-80h640v-440H600q0 33-23.5 56.5T520-520h-80q-33 0-56.5-23.5T360-600H160v440Zm80-80h240v-18q0-17-9.5-31.5T444-312q-20-9-40.5-13.5T360-330q-23 0-43.5 4.5T276-312q-17 8-26.5 22.5T240-258v18Zm320-60h160v-60H560v60Zm-200-60q25 0 42.5-17.5T420-420q0-25-17.5-42.5T360-480q-25 0-42.5 17.5T300-420q0 25 17.5 42.5T360-360Zm200-60h160v-60H560v60ZM440-600h80v-200h-80v200Zm40 220Z\" />\n          </svg>\n        </div>\n        <div class=\"title\" data-i18n=\"title\">Bulk Visitor Upload</div>\n        <div class=\"subtitle\" data-i18n=\"subtitle\">Upload a CSV file to create multiple visitors</div>\n        <form id=\"bulkUploadForm\" enctype=\"multipart/form-data\">\n          <div class=\"form-group\">\n            <div class=\"outlined-input\">\n              <select id=\"company\" name=\"company\" required>\n                <option value=\"\" data-i18n=\"selectCompany\">Select a company</option>\n                {{#payload}}\n                <option value=\"{{Id}}\">{{Name}}</option>\n                {{/payload}}\n              </select>\n              <label for=\"company\" data-i18n=\"company\">Company</label>\n            </div>\n          </div>\n          <div class=\"form-group\">\n            <div class=\"outlined-input\">\n              <select id=\"deliveryMethod\" name=\"deliveryMethod\" required>\n                <option value=\"\" data-i18n=\"selectCredentials\">Select credentials</option>\n                <option value=\"qrcode\" data-i18n=\"useQRCode\">QR Code</option>\n                <option value=\"pincode\" data-i18n=\"usePINCode\">PIN Code</option>\n              </select>\n              <label for=\"deliveryMethod\" data-i18n=\"credentials\">Credentials</label>\n            </div>\n          </div>\n          <div class=\"form-group\">\n            <div class=\"outlined-input file-input-wrapper\">\n              <input type=\"file\" id=\"csvFile\" name=\"csvFile\" accept=\".csv\" required placeholder=\" \">\n              <label for=\"csvFile\" data-i18n=\"csvFile\">CSV File</label>\n              <div class=\"file-name-display\" id=\"fileNameDisplay\"></div>\n            </div>\n          </div>\n          <div class=\"form-group\">\n            <div class=\"csv-info\">\n              <p class=\"csv-info-text\" data-i18n=\"csvFormat\">CSV format: Name, Email, VisitedPerson (optional)</p>\n            </div>\n          </div>\n          <div class=\"button-container\">\n            <button type=\"submit\" class=\"button\" id=\"uploadButton\">\n              <span class=\"button-text\" data-i18n=\"uploadCsv\">Upload CSV</span>\n            </button>\n            <a href=\"#\" class=\"download-sample-link\" id=\"downloadSample\">\n              <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\">\n                <path\n                  d=\"M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z\" />\n              </svg>\n              <span data-i18n=\"downloadSample\">Download Sample</span>\n            </a>\n          </div>\n        </form>\n        <div id=\"notification\" class=\"notification\"></div>\n      </div>\n    </div>\n  </div>\n  <script>\n    // Translations object\n    const translations = {\n      en: {\n        language: \"Language\",\n        downloadSample: \"Download Sample\",\n        title: \"Bulk Visitor Upload\",\n        subtitle: \"Upload a CSV file to create multiple visitors\",\n        selectCompany: \"Select a company\",\n        company: \"Company\",\n        selectCredentials: \"Select credentials\",\n        credentials: \"Credentials\",\n        useQRCode: \"QR Code\",\n        usePINCode: \"PIN Code\",\n        csvFile: \"CSV File\",\n        csvFormat: \"CSV format: Name, Email, Group, Visited From, Visited To, VisitedPerson (optional)\",\n        uploadCsv: \"Upload CSV\",\n        uploading: \"Uploading...\",\n        selectCsvFile: \"Please select a CSV file.\",\n        selectCompanyError: \"Please select a company.\",\n        selectCredentialsError: \"Please select credentials.\",\n        uploadSuccess: \"{count} visitors successfully created.\",\n        uploadError: \"Failed to upload CSV file. Please check the file format and try again.\",\n        networkError: \"Network error. Please try again.\"\n      },\n      de: {\n        language: \"Sprache\",\n        downloadSample: \"Beispiel herunterladen\",\n        title: \"Massenbesucher-Upload\",\n        subtitle: \"Laden Sie eine CSV-Datei hoch, um mehrere Besucher zu erstellen\",\n        selectCompany: \"Wählen Sie ein Unternehmen\",\n        company: \"Unternehmen\",\n        selectCredentials: \"Zugangsdaten auswählen\",\n        credentials: \"Zugangsdaten\",\n        useQRCode: \"QR-Code\",\n        usePINCode: \"PIN-Code\",\n        csvFile: \"CSV-Datei\",\n        csvFormat: \"CSV-Format: Name, E-Mail, Gruppe, Besuch von, Besuch bis, Besuchte Person (optional)\",\n        uploadCsv: \"CSV hochladen\",\n        uploading: \"Wird hochgeladen...\",\n        selectCsvFile: \"Bitte wählen Sie eine CSV-Datei aus.\",\n        selectCompanyError: \"Bitte wählen Sie ein Unternehmen aus.\",\n        selectCredentialsError: \"Bitte wählen Sie Zugangsdaten aus.\",\n        uploadSuccess: \"{count} Besucher erfolgreich erstellt.\",\n        uploadError: \"CSV-Datei konnte nicht hochgeladen werden. Bitte überprüfen Sie das Dateiformat und versuchen Sie es erneut.\",\n        networkError: \"Netzwerkfehler. Bitte versuchen Sie es erneut.\"\n      },\n      fr: {\n        language: \"Langue\",\n        downloadSample: \"Télécharger l'exemple\",\n        title: \"Téléchargement en masse de visiteurs\",\n        subtitle: \"Téléchargez un fichier CSV pour créer plusieurs visiteurs\",\n        selectCompany: \"Sélectionnez une entreprise\",\n        company: \"Entreprise\",\n        selectCredentials: \"Sélectionnez les identifiants\",\n        credentials: \"Identifiants\",\n        useQRCode: \"Code QR\",\n        usePINCode: \"Code PIN\",\n        csvFile: \"Fichier CSV\",\n        csvFormat: \"Format CSV: Nom, Email, Groupe, Visite de, Visite à, Personne visitée (optionnel)\",\n        uploadCsv: \"Télécharger CSV\",\n        uploading: \"Téléchargement...\",\n        selectCsvFile: \"Veuillez sélectionner un fichier CSV.\",\n        selectCompanyError: \"Veuillez sélectionner une entreprise.\",\n        selectCredentialsError: \"Veuillez sélectionner les identifiants.\",\n        uploadSuccess: \"{count} visiteurs créés avec succès.\",\n        uploadError: \"Échec du téléchargement du fichier CSV. Veuillez vérifier le format du fichier et réessayer.\",\n        networkError: \"Erreur réseau. Veuillez réessayer.\"\n      },\n      es: {\n        language: \"Idioma\",\n        downloadSample: \"Descargar ejemplo\",\n        title: \"Carga masiva de visitantes\",\n        subtitle: \"Suba un archivo CSV para crear múltiples visitantes\",\n        selectCompany: \"Seleccione una empresa\",\n        company: \"Empresa\",\n        selectCredentials: \"Seleccione las credenciales\",\n        credentials: \"Credenciales\",\n        useQRCode: \"Código QR\",\n        usePINCode: \"Código PIN\",\n        csvFile: \"Archivo CSV\",\n        csvFormat: \"Formato CSV: Nombre, Email, Grupo, Visita desde, Visita hasta, Persona visitada (opcional)\",\n        uploadCsv: \"Subir CSV\",\n        uploading: \"Subiendo...\",\n        selectCsvFile: \"Por favor, seleccione un archivo CSV.\",\n        selectCompanyError: \"Por favor, seleccione una empresa.\",\n        selectCredentialsError: \"Por favor, seleccione las credenciales.\",\n        uploadSuccess: \"{count} visitantes creados exitosamente.\",\n        uploadError: \"Error al subir el archivo CSV. Por favor, verifique el formato del archivo e intente nuevamente.\",\n        networkError: \"Error de red. Por favor, intente nuevamente.\"\n      },\n      it: {\n        language: \"Lingua\",\n        downloadSample: \"Scarica esempio\",\n        title: \"Caricamento visitatori multipli\",\n        subtitle: \"Carica un file CSV per creare più visitatori\",\n        selectCompany: \"Seleziona un'azienda\",\n        company: \"Azienda\",\n        selectCredentials: \"Seleziona le credenziali\",\n        credentials: \"Credenziali\",\n        useQRCode: \"Codice QR\",\n        usePINCode: \"Codice PIN\",\n        csvFile: \"File CSV\",\n        csvFormat: \"Formato CSV: Nome, Email, Gruppo, Visita da, Visita a, Persona visitata (opzionale)\",\n        uploadCsv: \"Carica CSV\",\n        uploading: \"Caricamento...\",\n        selectCsvFile: \"Seleziona un file CSV.\",\n        selectCompanyError: \"Seleziona un'azienda.\",\n        selectCredentialsError: \"Seleziona le credenziali.\",\n        uploadSuccess: \"{count} visitatori creati con successo.\",\n        uploadError: \"Impossibile caricare il file CSV. Verifica il formato del file e riprova.\",\n        networkError: \"Errore di rete. Riprova.\"\n      },\n      cs: {\n        language: \"Jazyk\",\n        downloadSample: \"Stáhnout ukázku\",\n        title: \"Hromadné nahrání návštěvníků\",\n        subtitle: \"Nahrajte soubor CSV pro vytvoření více návštěvníků\",\n        selectCompany: \"Vyberte společnost\",\n        company: \"Společnost\",\n        selectCredentials: \"Vyberte přihlašovací údaje\",\n        credentials: \"Přihlašovací údaje\",\n        useQRCode: \"QR kód\",\n        usePINCode: \"PIN kód\",\n        csvFile: \"CSV soubor\",\n        csvFormat: \"Formát CSV: Jméno, Email, Skupina, Návštěva od, Návštěva do, Navštívená osoba (volitelné)\",\n        uploadCsv: \"Nahrát CSV\",\n        uploading: \"Nahrávání...\",\n        selectCsvFile: \"Vyberte prosím soubor CSV.\",\n        selectCompanyError: \"Vyberte prosím společnost.\",\n        selectCredentialsError: \"Vyberte prosím přihlašovací údaje.\",\n        uploadSuccess: \"{count} návštěvníků úspěšně vytvořeno.\",\n        uploadError: \"Nepodařilo se nahrát soubor CSV. Zkontrolujte prosím formát souboru a zkuste to znovu.\",\n        networkError: \"Chyba sítě. Zkuste to prosím znovu.\"\n      },\n      nl: {\n        language: \"Taal\",\n        downloadSample: \"Voorbeeld downloaden\",\n        title: \"Bulk bezoeker upload\",\n        subtitle: \"Upload een CSV-bestand om meerdere bezoekers aan te maken\",\n        selectCompany: \"Selecteer een bedrijf\",\n        company: \"Bedrijf\",\n        selectCredentials: \"Selecteer inloggegevens\",\n        credentials: \"Inloggegevens\",\n        useQRCode: \"QR-code\",\n        usePINCode: \"PIN-code\",\n        csvFile: \"CSV-bestand\",\n        csvFormat: \"CSV-formaat: Naam, E-mail, Groep, Bezoek van, Bezoek tot, Bezochte persoon (optioneel)\",\n        uploadCsv: \"CSV uploaden\",\n        uploading: \"Uploaden...\",\n        selectCsvFile: \"Selecteer een CSV-bestand.\",\n        selectCompanyError: \"Selecteer een bedrijf.\",\n        selectCredentialsError: \"Selecteer inloggegevens.\",\n        uploadSuccess: \"{count} bezoekers succesvol aangemaakt.\",\n        uploadError: \"CSV-bestand uploaden mislukt. Controleer het bestandsformaat en probeer het opnieuw.\",\n        networkError: \"Netwerkfout. Probeer het opnieuw.\"\n      }\n    };\n\n    // Current language\n    let currentLang = localStorage.getItem('selectedLanguage') || 'en';\n    document.documentElement.lang = currentLang;\n\n    function translate(key, params = {}) {\n\t\tlet text = translations[currentLang][key] || translations['en'][key] || key;\n  \n\t\t// Správná náhrada {count}\n\t\tif (params.count !== undefined) {\n\t\t\ttext = text.replace('{count}', params.count);\n\t\t}\n  \n\t\treturn text;\n\t}\n\n    // Function to update all text on the page\n    function updateLanguage(lang) {\n      currentLang = lang;\n      localStorage.setItem('selectedLanguage', lang);\n      document.documentElement.lang = lang;\n      \n      // Update all elements with data-i18n attribute\n      document.querySelectorAll('[data-i18n]').forEach(element => {\n        const key = element.getAttribute('data-i18n');\n        if (key && translations[lang] && translations[lang][key]) {\n          if (element.tagName === 'OPTION' && element.value === '') {\n            element.textContent = translate(key);\n          } else if (element.tagName === 'SPAN' || element.tagName === 'P' || element.tagName === 'LABEL' || element.tagName === 'DIV') {\n            element.textContent = translate(key);\n          } else if (element.tagName !== 'OPTION') {\n            element.textContent = translate(key);\n          }\n        }\n      });\n      \n      // Update language selector\n      document.getElementById('languageSelect').value = lang;\n    }\n\n    // Function to download sample CSV\n    function downloadSampleCSV() {\n      const today = new Date();\n      const tomorrow = new Date(today);\n      tomorrow.setDate(tomorrow.getDate() + 1);\n      \n      const formatDate = (date) => {\n        const year = date.getFullYear();\n        const month = String(date.getMonth() + 1).padStart(2, '0');\n        const day = String(date.getDate()).padStart(2, '0');\n        return `${year}-${month}-${day}`;\n      };\n      \n      const fromDate = formatDate(today);\n      const toDate = formatDate(tomorrow);\n      \n      const csvContent = 'Name,Email,Group,Visited From,Visited To,VisitedPerson\\nJohn Doe,john.doe@example.com,Visitors,' + fromDate + 'T09:00:00,' + toDate + 'T17:00:00,Jane Smith\\nJane Doe,jane.doe@example.com,Contractors,' + fromDate + 'T10:00:00,' + toDate + 'T16:00:00,John Smith\\nBob Johnson,bob.johnson@example.com,Visitors,' + fromDate + 'T08:00:00,' + toDate + 'T18:00:00,';\n      const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });\n      const link = document.createElement('a');\n      const url = URL.createObjectURL(blob);\n      link.setAttribute('href', url);\n      link.setAttribute('download', 'visitor_sample.csv');\n      link.style.visibility = 'hidden';\n      document.body.appendChild(link);\n      link.click();\n      document.body.removeChild(link);\n    }\n\n    // Initialize language on page load\n    document.addEventListener('DOMContentLoaded', function() {\n      updateLanguage(currentLang);\n      \n      // Set language selector value\n      const langSelect = document.getElementById('languageSelect');\n      langSelect.value = currentLang;\n      \n      // Handle language selector change\n      langSelect.addEventListener('change', function(e) {\n        updateLanguage(e.target.value);\n      });\n      \n      // Handle download sample\n      document.getElementById('downloadSample').addEventListener('click', function(e) {\n        e.preventDefault();\n        downloadSampleCSV();\n      });\n    });\n\n    // Notification function with customizable duration and fade effect\n    function showNotification(message, type, duration = 5000) {\n      const notification = document.getElementById('notification');\n      \n      // Reset classes and set content\n      notification.className = 'notification';\n      notification.textContent = message;\n      \n      // Show notification with fade-in effect\n      notification.style.display = 'block';\n      // Force reflow to ensure display change is applied\n      notification.offsetHeight;\n      \n      // Add classes for styling and animation\n      notification.classList.add(type, 'show');\n      \n      // Auto-hide after specified duration\n      setTimeout(() => {\n        hideNotification();\n      }, duration);\n    }\n\n    function hideNotification() {\n      const notification = document.getElementById('notification');\n      \n      // Start fade-out animation\n      notification.classList.add('fade-out');\n      notification.classList.remove('show');\n      \n      // Hide completely after transition\n      setTimeout(() => {\n        notification.style.display = 'none';\n        notification.classList.remove('fade-out');\n      }, 300); // Match transition duration\n    }\n\n    // Function to update label position based on field content\n    function updateLabelPosition(input) {\n      const label = input.nextElementSibling;\n      if (input.value && input.value.trim() !== '') {\n        // Field has content - move label up\n        input.setAttribute('data-has-content', 'true');\n      } else {\n        // Field is empty - remove the attribute to let CSS handle it\n        input.removeAttribute('data-has-content');\n      }\n    }\n\n    // Handle file selection\n    const csvFileInput = document.getElementById('csvFile');\n    const fileNameDisplay = document.getElementById('fileNameDisplay');\n    const companySelect = document.getElementById('company');\n    const deliveryMethodSelect = document.getElementById('deliveryMethod');\n\n    csvFileInput.addEventListener('change', function(e) {\n      const file = e.target.files[0];\n      if (file) {\n        fileNameDisplay.textContent = file.name;\n        updateLabelPosition(csvFileInput);\n      } else {\n        fileNameDisplay.textContent = '';\n        csvFileInput.removeAttribute('data-has-content');\n      }\n    });\n\n    // Handle company select label position\n    companySelect.addEventListener('change', function() {\n      const label = this.nextElementSibling;\n      if (this.value) {\n        label.style.top = '0';\n        label.style.left = '15px';\n        label.style.fontSize = '0.75rem';\n        label.style.transform = 'translateY(-50%)';\n      } else {\n        label.style.top = '50%';\n        label.style.left = '20px';\n        label.style.fontSize = '1rem';\n        label.style.transform = 'translateY(-50%)';\n      }\n    });\n\n    // Handle delivery method select label position\n    deliveryMethodSelect.addEventListener('change', function() {\n      const label = this.nextElementSibling;\n      if (this.value) {\n        label.style.top = '0';\n        label.style.left = '15px';\n        label.style.fontSize = '0.75rem';\n        label.style.transform = 'translateY(-50%)';\n      } else {\n        label.style.top = '50%';\n        label.style.left = '20px';\n        label.style.fontSize = '1rem';\n        label.style.transform = 'translateY(-50%)';\n      }\n    });\n\n    // Handle form submission\n    document.getElementById('bulkUploadForm').addEventListener('submit', async function (e) {\n      e.preventDefault();\n      \n      const form = e.target;\n      const fileInput = document.getElementById('csvFile');\n      const companyId = document.getElementById('company').value;\n      const deliveryMethod = document.getElementById('deliveryMethod').value;\n      const uploadButton = document.getElementById('uploadButton');\n      \n      if (!fileInput.files || fileInput.files.length === 0) {\n        showNotification(translate('selectCsvFile'), \"error\", 4000);\n        return;\n      }\n\n      if (!companyId) {\n        showNotification(translate('selectCompanyError'), \"error\", 4000);\n        return;\n      }\n\n      if (!deliveryMethod) {\n        showNotification(translate('selectCredentialsError'), \"error\", 4000);\n        return;\n      }\n\n      const file = fileInput.files[0];\n      \n      // Disable button during upload\n      uploadButton.disabled = true;\n      uploadButton.querySelector('.button-text').textContent = translate('uploading');\n      \n      try {\n        // Create FormData for file upload\n        const formData = new FormData();\n        formData.append('csvFile', file);\n        formData.append('company', companyId);\n        formData.append('deliveryMethod', deliveryMethod);\n\n        const response = await fetch('/nodered/api/bulk-visitor', {\n          method: 'POST',\n          body: formData\n        });\n\n        if (response.ok) {\n          const result = await response.json();\n          const message = result.message || translate('uploadSuccess', { count: result.processed || 0 });\n          showNotification(message, \"success\", 6000);\n          form.reset();\n          fileNameDisplay.textContent = '';\n          csvFileInput.removeAttribute('data-has-content');\n          \n          // Reset company select label\n          const companyLabel = companySelect.nextElementSibling;\n          companyLabel.style.top = '50%';\n          companyLabel.style.left = '20px';\n          companyLabel.style.fontSize = '1rem';\n          companyLabel.style.transform = 'translateY(-50%)';\n          \n          // Reset delivery method select label\n          const deliveryMethodLabel = deliveryMethodSelect.nextElementSibling;\n          deliveryMethodLabel.style.top = '50%';\n          deliveryMethodLabel.style.left = '20px';\n          deliveryMethodLabel.style.fontSize = '1rem';\n          deliveryMethodLabel.style.transform = 'translateY(-50%)';\n        } else {\n          const errorData = await response.json().catch(() => ({}));\n          const errorMessage = errorData.message || translate('uploadError');\n          showNotification(errorMessage, \"error\", 6000);\n        }\n      } catch (err) {\n        console.error('Upload error:', err);\n        showNotification(translate('networkError'), \"error\", 6000);\n      } finally {\n        // Re-enable button\n        uploadButton.disabled = false;\n        uploadButton.querySelector('.button-text').textContent = translate('uploadCsv');\n      }\n    });\n  </script>\n</body>\n\n</html>","output":"str","x":540,"y":120,"wires":[["5e752cbe3572f0b8"]]},{"id":"e976c223f6ce872d","type":"function","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"Parse CSV File from Multipart","func":"// Parse multipart form data\n// Check if files are already parsed (Node-RED with upload:true)\nlet file = null;\n\n// Handle files array structure (req.files is an array)\nif (msg.req && msg.req.files && Array.isArray(msg.req.files) && msg.req.files.length > 0) {\n    // Find the csvFile in the array\n    file = msg.req.files.find(f => f.fieldname === 'csvFile');\n} else if (msg.req && msg.req.files && msg.req.files.csvFile) {\n    // Handle object structure (if files is an object)\n    file = msg.req.files.csvFile;\n}\n\nif (file) {\n    // Convert buffer to string\n    if (Buffer.isBuffer(file.buffer)) {\n        msg.payload = file.buffer.toString('utf8');\n    } else if (Array.isArray(file.buffer)) {\n        // Handle array of bytes\n        msg.payload = Buffer.from(file.buffer).toString('utf8');\n    } else if (Buffer.isBuffer(file.data)) {\n        msg.payload = file.data.toString('utf8');\n    } else if (typeof file.data === 'string') {\n        msg.payload = file.data;\n    } else {\n        msg.payload = file.buffer || file.data || '';\n    }\n    \n    // Extract form fields from req.body\n    msg.company = msg.req.body ? msg.req.body.company : null;\n    msg.credentials = msg.req.body ? msg.req.body.deliveryMethod : null;\n    \n    // Also store file metadata\n    msg.fileName = file.originalname || file.filename || 'unknown.csv';\n    msg.fileSize = file.size || 0;\n} else if (msg.req && msg.req.body) {\n    // Try to get from body (if parsed by middleware)\n    msg.company = msg.req.body.company || null;\n    msg.credentials = msg.req.body.deliveryMethod || null;\n    \n    // If payload is still a buffer, try to convert\n    if (Buffer.isBuffer(msg.payload)) {\n        msg.payload = msg.payload.toString('utf8');\n    }\n} else {\n    // No file found\n    node.error('No CSV file found in request', msg);\n    return null;\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":220,"wires":[["b6fd8d8f413117e3"]]},{"id":"b6fd8d8f413117e3","type":"csv","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"","spec":"rfc","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":220,"wires":[["026187bc5a7d6af3"]]},{"id":"026187bc5a7d6af3","type":"function","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"Get Group ID","func":"msg.user=msg.payload;\nmsg.query=\"query=\"+msg.payload.Group;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":340,"wires":[["47eb4d64a333e862"]]},{"id":"47eb4d64a333e862","type":"2nac-rest-api","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"Search Group","method":"GET","endpoint":"search","query":"","senderr":true,"x":340,"y":340,"wires":[["b6e45f43aa30173a"]]},{"id":"bf1249383138ca9d","type":"switch","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"PIN or QR","property":"credentials","propertyType":"msg","rules":[{"t":"eq","v":"pincode","vt":"str"},{"t":"eq","v":"qrcode","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":460,"wires":[["ca60fce5e8ce7a2e"],["2867fd86303e9bda"]]},{"id":"ca60fce5e8ce7a2e","type":"2nac-rest-api","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"createPINcode","method":"POST","endpoint":"visitors/{visitorId}/pin","query":"","senderr":true,"x":460,"y":420,"wires":[["51f75dce5ec21e8f","cef4bb1b5dd30d6f"]]},{"id":"51f75dce5ec21e8f","type":"switch","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"Send via Email","property":"body","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":700,"y":420,"wires":[["8a520ed70e7de417"]],"outputLabels":["Send via Email"]},{"id":"8a520ed70e7de417","type":"2nac-rest-api","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"sendEmail","method":"PUT","endpoint":"visitors/{visitorId}/sendcredentials","query":"","senderr":true,"x":910,"y":420,"wires":[[]]},{"id":"542b86108b94cdec","type":"change","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"","rules":[{"t":"set","p":"visitorId","pt":"msg","to":"payload.Id","tot":"msg"},{"t":"set","p":"body","pt":"msg","to":"payload.Email","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":400,"wires":[["bf1249383138ca9d"]]},{"id":"b6e45f43aa30173a","type":"switch","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"Group exist","property":"payload.ResultsGuid[0].Id","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":340,"wires":[["8f52eec0195c5a9e"]]},{"id":"c83f9733fa32b678","type":"debug","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":480,"wires":[]},{"id":"cef4bb1b5dd30d6f","type":"join","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"Join UX","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":680,"y":480,"wires":[["c83f9733fa32b678","dd3b570491cdbf2e"]]},{"id":"cbe3f6670fa12a7b","type":"http response","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"","statusCode":"200","headers":{},"x":980,"y":560,"wires":[]},{"id":"dd3b570491cdbf2e","type":"function","z":"c214dc84bbca6e11","g":"e9e27c4d305e08d9","name":"Count users which were created","func":"msg.payload = {\n  \"processed\": msg.payload.length\n};\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":560,"wires":[["cbe3f6670fa12a7b"]]}]